body {
    font-family: "Times New Roman", serif;
    background-color:white;
}

a {
    cursor:pointer;
    color: #651f1d;
    text-decoration: underline;
}
#header a {
    color: #000;
    text-decoration: none;
}
.btn.btn-default, .btn-primary, a#donate {
    background: #651f1d;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    border-radius: 0px;
    font-weight: 700;
    border: 0px;
}
#header {
    background-color: rgb(149, 168, 144);   
    font-weight: bold;         
    color: #000;
    padding: 20px 0;
}

#drc {
    display: inline-block;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 36px;
}
#drc-subtitle {
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 24px;
}
#logo { 
    width: 60px;
    float: left;
}
#title {
    background-color: #4b798a;
    font-size: 24px;
    color: #000;
    padding: 10px 0px;
}
#name {
    font-size: 36px;
}
.navbar {
    margin-bottom: 0;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-collapse {
    margin-top: 20px;
    background-color: #e7e7e7;
}
.navbar-brand {
    height: auto;
    padding: 0;
}
.navbar-right {
    padding-right: 0;
}
#description {     
    color: black;
    font-size: 1.2em;
    padding: 20px 0px;
}

#background-image {
    display: block;
    width: 100%;
}

.leftfloat { 
    float: left; 
    margin-right: 3%; 
    width: 47%;
    margin-bottom: 3%;
}

.leftfloatsm {
    float: left; 
    margin-right: 3%; 
    width: 25%;   
    margin-bottom: 1%;
}

.bottom-row {
    clear: both; 
    margin-top: 1%;
}

.video-container {
    position:relative;
    padding-bottom: 36.25%;
    padding-top: 5px;
    overflow:hidden;
    float: left;
    width: 47%;
    height: 315px;
}

.video-container iframe {
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    .video-container{
        width: 100%;
        margin-bottom: 5px;
    }
    .leftfloat { 
        margin-bottom: 1%;
    }
    .well {
        margin: 0 15px;
    }
}

.map {
    width: 50%;
    height: 315px;
    float:left;
    margin-left: 3%;    
}

.btn-map{
    margin: auto;
}

h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.6em;
} 

.popupBox {
    padding: 3%;
    width: 80%;
    min-width: 400px;
    max-width: 1180px;
    font-size: 1.2em;
    display:none;
}
#container {
    position: relative;
}
.pin {
    position:absolute;
    height: 2.7vw;
    width: 2.7vw;
    border-radius: 50%;
    background-color: chartreuse;
}

#pin1 {
    left: 37.2%;
    top: 47.3%;
}

#pin2 {
    left: 47.8%;
    top: 43.2%;
}

#pin3 {
    left: 71.5%;
    top: 55.6%;
}

#pin4 {
    right: 16.5%;
    top: 68.5%;
}

#pin5 {
    right: 6.4%;
    top: 66.5%; 
}

#pin6 {
    right: 12.8%;
    top: 82.1%;
} 

#pin7 {
    left: 73.7%;
    top: 73.5%;
}

#pin8 {
    left: 89.6%;
    top: 57.8%;
}

#pin9 {
    left: 91%;
    top: 45.3%;
}

#pin10 {
    left: 67.5%;
    top: 46.5%;
}

#pin11 {
    left: 54%;
    top: 39.7%;
}

#pin12 {
    left: 39.2%;
    top: 25.6%;
}

#pin13 {
    left: 16.2%;
    top: 19.5%;
}

#pin14 {
    left: 18.5%;
    top: 32.3%;
}

#pin15 {
    left: 7.9%;
    top: 34.2%;
}

#pin16 {
    left: 14%;
    top: 49.5%;
}

#pin17 {
    left: 11%;
    top: 56%;
}

#pin18{
    left: 30.5%;
    top: 39.6%;
}

#pinA {
    left: 41.5%;
    top: 88.8%;
    width: 2.75vw;
    height: 2.75vw;
}

#pinB {
    left: 9%;
    top: 2.9%;
    width: 4vw;
    height: 2vw;
}

#pinC{
    left: 11.7%;
    top: 2.9%;
    width: 2vw;
    height: 2vw;
}

#pinD{
    left: 34.1%;
    top: 11.1%;
    width: 2vw;
    height: 2vw;
}